<%- include('./partials/header') %>

    <div class="container-sm">
        <h2>Something went wrong...</h2>
        <p><%= error %></p>

        <a href="/" class="btn btn-warning">Go Back Home</a>
    </div>

<%- include('./partials/footer') %>