<%- include('../partials/header') %>

    <div class="container-sm">
        <form action="/users/login" method="POST">
            <fieldset>
                <legend>Welcome back, please log in to continue</legend>
                <label class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" placeholder="username" required>
                <label class="form-label">Password:</label>
                <input type="password" class="form-control" name="password" placeholder="password" required>
            </fieldset>
            <input type="submit" class="btn btn-success mt-3" value="Log In">
        </form>
    </div>

<%- include('../partials/footer') %>